{% with object.links.all as links %}
    {% if links|length %}
        <tr class="links">
            <th>Links</th>
            <td>
                <ul class="inline">
                    {% for link in links %}
                        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    {% endif %}
{% endwith %}

<tr class="author">
    <th>Author</th>
    <td class="fn">
        {% if object.author_email %}
            <a href="mailto:{{ object.author_email }}">{{ object.author }}</a>
        {% else %}
            {{ object.author }}
        {% endif %}
    </td>
</tr>

{% if object.message %}
    <tr class="message">
        <th>Message</th>
        <td>
            <pre>{{ object.message|linebreaksbr|urlize }}</pre>
        </td>
    </tr>
{% endif %}

{% if object.body %}
    <tr class="body">
        <th>Body</th>

        <td>
            <pre>{{ object.body|linebreaksbr|urlize }}</pre>
        </td>
    </tr>
{% endif %}
