<tr>
    <th class="date infofirst">{{ object.date }}</th>
    <td>
        {% if object.links %}
            <ul class="inline float-right">
                {% for title, href in object.links.items %}
                    <li><a href="{{ href }}">{{ title }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if object.author_email %}
            <a class="author fn" href="mailto:{{ object.author_email }}">{{ object.author }}</a>
        {% else %}
            <span class="author fn">{{ object.author }}</span>
        {% endif %}
        commited
        <abbr class="commit-id" title="{{ object.commitid }}">{{ object.short_commit_id|default:object.commitid }}</abbr>:

        <pre class="message">{{ object.message|linebreaksbr|urlize }}</pre>
        {% if object.body %}
            <pre class="body">{{ object.body|linebreaksbr|urlize }}</pre>
        {% endif %}
    </td>
</tr>
