{% extends "site_base.html" %}

{% block extra_head %}
{{ block.super }}
<script type="text/javascript">
    function permalinkToChanges(permalink) {
        window.location="changes/?" + permalink;
    }

    function updateTable() {
        //Add permalink events to table rows
        $("div#reports table tbody tr").each(function() {
            $(this).click(function () {
                permalink_string = $(this).find("td:eq(0) label").text();
                permalinkToChanges(permalink_string);
            });
        });
        //Add hover effect to rows
        // TODO: Move this to CSS
        $("div#reports table tbody tr td").hover(function() {
            $(this).parents('tr').addClass('highlight');
        }, function() {
            $(this).parents('tr').removeClass('highlight');
        });
    }

    $(function() {
        $("#changes").click(function () { window.location="{% url changes project=project.slug %}"; });
        $("#timeline").click(function () { window.location="{% url timeline project=project.slug %}"; });
        $("#comparison").click(function () { window.location="{% url comparison project=project.slug %}"; });
        $("#reports").html(getLoadText("Loading...", 0, true))
            .load("reports/", function(responseText) { updateTable(); });
  });
</script>
{% endblock %}

{% block body %}
<div id="presentation" class="clearfix">
    <div id="changes" class="menubox">
      <h2><a href="{% url changes project=project.slug %}">Changes</a></h2>
      <p>Track performance changes in the latest revisions</p>
    </div>
    <div id="timeline" class="menubox">
      <h2><a href="{% url timeline project=project.slug %}">Timeline</a></h2>
      <p>Analyze performance over time</p>
    </div>
    <div id="comparison" class="menubox">
      <h2><a href="{% url comparison project=project.slug %}">Comparison</a></h2>
      <p>Compare different executables and revisions</p>
    </div>
    <br />
    <div id="reports"></div>
</div>
{% endblock %}
